In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('salary.csv')
X=df.drop('salary_more_then_100k', axis='columns')
y=df['salary_more_then_100k']

In [27]:
len(X_test)

4

In [28]:
from sklearn.preprocessing import LabelEncoder
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [29]:
X['company_n']=le_company.fit_transform(X['company'])
X['job_n']=le_company.fit_transform(X['job'])
X['degree_n']=le_company.fit_transform(X['degree'])

In [30]:
X_n = X.drop(['company','job','degree'], axis='columns')
X_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X_n, y, test_size=.2, random_state=0)

In [36]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [37]:
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [38]:
model.score(X_test,y_test)

0.5

In [40]:
model.predict([[2,0,1]])

array([1])